{%extends 'base_preregister.html'%}
<!-- {% load static from static %}  -->
{%block page_title%}Join Dating App{%endblock%} {%block content%}
<section>
  <div class="home">
    <div class="home-header">
      <div class="home-icon">
        <img src="/static/temp/icon.svg" />
      </div>
      <img src="../static/girl1.svg" />
    </div>
    <div class="home-content">
      <div class="standard-jumbotron-container container home-desc">
        <div class="home-icon">
          <img src="/static/temp/icon.svg" />
        </div>
        <h1 class="display-4 home-title">Coffe or Chai</h1>
        <p class="lead home-text">
          By clicking Log In, you agree with our Terms. Learn how we process your
          data in our Privacy Policy and Cookies Policy.
        </p>
        <p class="lead">
          <a
            class="btn standard-button btn-lg preregister-button home-button"
            href="{% url 'register' %}"
            role="button"
            >Create an account</a
          >
        </p>
        <p class="lead">
          <a class="home-link" href="{% url 'login' %}" role="button"
            >Sign In</a
          >
        </p>
    </div>
    </div>
  </div>
</section>
<!--
  This was created based on the Dribble shot by Deepak Yadav that you can find at https://goo.gl/XRALsw
  I'm @hk95 on GitHub. Feel free to message me anytime.
-->

<!-- <section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Don't have an account?</h2>
        <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
        <button class="user_unregistered-signup" id="signup-button">Sign up</button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title">Have an account?</h2>
        <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>
    
    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form class="forms_form">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
            <input type="submit" value="Log In" class="forms_buttons-action">
          </div>
        </form>
      </div>
      <div class="user_forms-signup">
        <h2 class="forms_title">Sign Up</h2>
        <form class="forms_form">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" placeholder="Full Name" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="Sign up" class="forms_buttons-action">
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->

{%endblock%}
