{% extends 'base.html' %} {% block page_title %}My Account{% endblock %} {% block content %}

<section class="profile-card-container container-fluid">

    <div class="row">
      <div class="col col-sm-12 col-md-4 bg-dark rounded-start py-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'public_profile' %}">Public profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'personal_information' %}">Personal information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management' %}">Account management</a>
          </li>
        </ul>
      </div>

      
      <div class="col-sm-12 col-md-6 bg-dark rounded-end">
          <div class="card border-0 shadow-none">
              <div class="card-body bg-dark text-white">
                <h3 class="card-title">Personal information</h3>
                <p class="card-subtitle">Edit your basic personal info to improve recommendations. This information is private and won’t show up in your public profile.</p>

                <form class="create-profile-form standard-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                    {{ personal_information_form }}
                    <div class="standard-form-submit">
                        <input type="submit" value="Save" class="submit-wide submit-success" name="message_submit">
                    </div>
                </form>
              </div>
          </div>
      </div>
</section>

{% endblock %}